.design-index img {
  height: 100px;
}

#design-index{
  td{
    vertical-align: middle;
    text-align: center;
  }
}

#design-index{
  border-spacing: 8px 0px;
}

.design-show{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding: 0.2em 0.5em;
  margin-top: 2em;
  background: #DDDDDD;
  box-shadow: 0px 0px 0px 10px #DDDDDD;
  border: dashed 2px white;
}

.design-show h2 {
  font-size: 2em;
  font-weight: 600;
  line-height: 1.2;
}

.design-show img {
  width: 300px;
}

.design-edit img {
  width: 210px;
  text-align: center;
}

.design-order img {
  width: 210px;
  text-align: center;
}

.design-order{
  th{
    vertical-align: middle;
    text-align: center;
  }
  td{
    vertical-align: middle;
    text-align: center;
  }
}

.notice{
  border: solid 2px #ff0000;
  padding: 0.1em;
  color: #ff0000;
  font-weight: bold;
  display: inline;
}